container-card, [container-card] {
  display: block;
  height: 90px;
  margin-bottom: 0;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: white;
  cursor: pointer;
  @include transition(all ease-in 0.2s);

  &:hover {
    background-color: fade-out($soft-gray, 0.6);
  }
  &.container-active {
    // background-color: fade-out($brand-primary, 0.8);
    border-left-color: $brand-primary;
    .container-state .state-icon {
        background-color: $brand-primary;
    }
    .container-time {
      color: $brand-primary;
    }
    .container-toggle-option {
      color: $brand-primary;
    }
  }
  // &.container-default {
  //   border-left-color: $soft-gray;
  // }
  //
  // &.container-success {
  //   border-left-color: $green;
  // }
  //
  // &.container-warning {
  //   border-left-color: $red;
  // }
  //
  // &.container-danger {
  //   border-left-color: $red;
  // }

  .container-title {
    font-size: 15px;
    font-weight: bold;

    @include text-overflow();

    a {
      color: $text-color;
    }
  }
  .container-header {
    height: 100%;
  }
  .container-body {
    height: 100%;
    border-bottom: 1px solid $soft-gray;
    padding-left: 0;
  }

  .container-state {
    height: 100%;
    text-align: center;

    .state-icon {
      background-color: $soft-gray;
      border-radius: 100%;
      height: 50px;
      width: 50px;
      margin-top: 20px;
      display: inline-block;
      line-height: 50px;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 22px;
    }
  }
  .container-time {
    float: right;
    color: $text-soft;
    font-weight: bold;
    @include transition(color ease-in 0.2s);
  }
  .container-toggle-option {
    float: right;
    color: $text-soft;
    font-size: 20px;
    @include transition(color ease-in 0.2s);
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid $soft-gray;
    width: 100%;
    padding: 5px;
    box-shadow: none;
    a {
      color: #737373;
    }
  }
}
