$container-card-height: 72px;
$container-card-transition-duration: .4s;

.container-list {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 0 0 $container-card-height;
}

.container-card {
  height: $container-card-height;
  cursor: pointer;
  overflow: hidden;
  @include transition(all ease-in $container-card-transition-duration);

  &:hover {
    border-left-color: fade-out($soft-gray, 0.6);
    background-color: fade-out($soft-gray, 0.6);
  }
  &.container-active {
    border-left-color: $brand-primary;

    .state-icon {
      color: white;
      background-color: $brand-primary;
    }

    .container-time {
      color: $brand-primary;
    }

    .container-toggle-option {
      color: $brand-primary;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: ($grid-gutter-width / 2);
    width: 10px;
    height: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: $soft-gray;
    border-radius: 100%;
  }

  &.container-success:after {
      border-color: fade-out($green, 0.3);
  }

  &.container-warning:after {
      border-color: fade-out($brand-warning, 0.3);
  }

  &.container-danger:after {
      border-color: fade-out($red, 0.3);
  }

  md-divider {
    border-top-color: rgba(0, 0, 0, 0.05);
  }
  .md-list-item-inner .md-secondary {
    top: 25%;
    color: $text-soft;
  }
  .container-title {
    margin: 0;
    @include text-overflow();
  }
  .container-image {
    color: #B5B4B4;
    @include text-overflow();
  }

  .state-icon {
    background-color: $soft-gray;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    color: #D3D3D5;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    @include transition(background-color ease-in .5s);

    &.tilt {
      background-color: $green;
    }
  }

  &.container-swiped .leave-behinds {
    right: 0px;
  }
  .leave-behinds {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 3;
    @include transition(right ease-in $container-card-transition-duration / 2);
    @include box-shadow(none);

    &:after {
      content:'';
      display:block;
      position:absolute;
      z-index: 2;
      top:0;
      left:0;
      width:100%;
      height:100%;
      pointer-events: none;
      @include box-shadow(inset 0 1px 4px 0 rgba(0, 0, 0, 0.3));
    }

    &.show {
      @include translate(0, 0);

      & ~ .container-state, & ~ .container-body {
        @include translate(-100px, 0);
      }
    }

    .btn {
      width: 80px;
      float: right;
      padding: 0;
      height: $container-card-height;
      line-height: $container-card-height;
    }

    .btn.btn-default {
      background-color: $soft-gray;
    }
  }
}
