$image-card-search-height: 150px;
$image-search-card-transition-duration: .2s;

image-search-card, [image-search-card] {
  display: block;
  height: $image-card-search-height;
  margin-bottom: 0;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: white;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: $grid-gutter-width / 2;
  border: 1px solid $soft-gray;
  border-radius: 3px;
  @include transition(all ease-in $image-search-card-transition-duration);

  &:hover {
    border-left-color: fade-out($soft-gray, 0.6);
    background-color: fade-out($soft-gray, 0.6);
  }
  &.image-active {
    border-left-color: $brand-primary;

    .image-state .state-icon {
      background-color: $brand-primary;
    }

    .image-time {
      color: $brand-primary;
    }

    .image-toggle-option {
      color: $brand-primary;
    }
  }

  .image-title {
    margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
    line-height: 47px;
    padding-right: 30px;
    width: 100%;

    @include text-overflow();

    a {
      color: $text-color;
    }
  }
  .image-header {
    height: 100%;
  }
  .image-body {
    height: 100%;
    position: relative;
    // border-bottom: 1px solid $soft-gray;

    header {
      float: left;
      width: 100%;
    }

    aside {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }

  .image-state {
    height: 100%;
    width: 90px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    height: $image-card-search-height;
    border-right: 1px solid $soft-gray;

    .state-icon {
      background-color: $soft-gray;
      // background-size: 100% auto;
      // background-repeat: no-repeat;
      // background-position: left center;
      height: 100%;
      width: 100%;
      display: inline-block;
      line-height: 50px;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 22px;
      // @include transition(background-color ease-in .5s);

      &.tilt {
        background-color: $green;
      }
    }
    .img-default {
      text-transform: uppercase;
      line-height: $image-card-search-height;
    }
  }

  .image-time {
    // float: right;
    color: $text-soft;
    font-weight: bold;
    @include transition(color ease-in $image-search-card-transition-duration);
  }

  .image-toggle-option {
    // float: right;
    color: $text-soft;
    font-size: 20px;
    // clear: right;
    @include transition(color ease-in $image-search-card-transition-duration);

    &:hover {
      color: fade-out($brand-primary, .3);
    }
  }
  footer {
    overflow: auto;
    min-width: 100%;
    position: absolute;
    padding: 5px 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
