.col-xs-12.col-sm-6.col-md-3.scrollbar-small.full-screen-height#list-content
  = render partial: 'containers/container_list'

.col-xs-12.col-sm-6.col-md-9.scrollbar-small.full-screen-height#info-content
  = render partial: 'dashboard'
