container-list.container-fluid.scrollbar-small
  .row ng-repeat="container in $containers"
    container-card.col-xs-12 ng-model="container" on-select="ctrl.select(container)"  
  
a.btn.btn-rounded.btn-accent.btn-float ng-click="ctrl.add()" +
