$card-padding: 12px;

md-card {
  md-card-header {
    border-bottom: 1.1px solid #e7e7e7;

    md-card-header-text {
      .md-title {
        font-size: 14px;
        margin: 0;
      }
    }
  }


  md-card-content {
    & > md-list {
      padding: 0;
    }
    & > .row {
      margin-left: -$card-padding;
      margin-right: -$card-padding;
    }
  }

  md-card-title {
    padding: $card-padding;

    h3 {
      margin-top: 0;
    }
  }
}
