// Override
@import "overrides/card";

// Default bootstrap
@import "angular-material/angular-material.scss";


// Fix list-item content Overflow
md-list-item, md-list-item .md-list-item-inner {
  max-width: 100%;
}

.text-lowercase {
  text-transform: lowercase;
}
.md-text-warn {
  color: #DD2C00;
}
