$page-header-bg: white;

#page-header {
  background-color: $page-header-bg;
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
  margin-top: -($grid-gutter-width / 2);
  padding: 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2);
  overflow: auto;

  .header-actions {
    margin-top: 20px;
  }

  .btn-group {
    @include box-shadow(none);

    .btn-default {
      color: $text-secondary;
      background-color: inherit;
      border-radius: 100%;
      line-height: 23px;
      height: 35px;

      &:hover {
        color: $text-color;
      }
      &:active, &:focus {
        background: darken($page-header-bg, 10%);
        color: $text-color;
        @include box-shadow(none);
      }
    }
  }
}

#tab-content {
  & > .nav {
    background-color: $page-header-bg;
    margin-bottom: ($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
    padding: 0 ($grid-gutter-width / 2);
    text-align: center;
    @include box-shadow(inset 0 -2px 0 0 #eee);

    li {
      float: none;
      display: inline-block;
      a {
        text-transform: uppercase;
        border-radius: 0;
        color: $text-color;

        &:hover {
          background-color: inherit;
        }
      }
      &.active {
        a {
          background-color: inherit;
          color: $brand-primary;
          border-bottom: 2px solid $brand-primary;
        }
      }
    }
  }
}

#image-search-group {
  &.is-empty:not(.has-focus) label {
    top: 17px;
  }
  label {
    left: 10px;
    color: fade-out(black, 0.64);
  }
  input {
    text-indent: 10px;
    background-color: #EFEFEF;
  }
}

#image-search-results {
  max-height: calc(100vh - 184px);
  overflow-y: auto;
  overflow-x: hidden;
}

#journal journal-body {
  max-height: 374px;
}

#volumes {
  h3 {
    font-size: 15px;
    font-weight: bold;

    & + p {
      font-size: 0.9em;
    }
  }
  md-list-item, .md-list-item-text {
    overflow: hidden;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
