$page-header-bg: white;

#list-content + #main-content {
  padding: 0;
}

#containerTab md-tabs-wrapper {
  background-color: $page-header-bg;
}

#page-header {
  background-color: $page-header-bg;
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
  margin-top: -($grid-gutter-width / 2);
  padding: 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2);
  overflow: auto;

  .header-actions {
    margin-top: 20px;
  }

  .btn-group {
    @include box-shadow(none);

    .btn-default {
      color: $text-secondary;
      background-color: inherit;
      border-radius: 100%;
      line-height: 23px;
      height: 35px;

      &:hover {
        color: $text-color;
      }
      &:active, &:focus {
        background: darken($page-header-bg, 10%);
        color: $text-color;
        @include box-shadow(none);
      }
    }
  }
}

#tab-content {
  & > .nav {
    background-color: $page-header-bg;
    margin-bottom: ($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
    padding: 0 ($grid-gutter-width / 2);
    text-align: center;
    @include box-shadow(inset 0 -2px 0 0 #eee);

    li {
      float: none;
      display: inline-block;
      a {
        text-transform: uppercase;
        border-radius: 0;
        color: $text-color;

        &:hover {
          background-color: inherit;
        }
      }
      &.active {
        a {
          background-color: inherit;
          color: $brand-primary;
          border-bottom: 2px solid $brand-primary;
        }
      }
    }
  }
}

#image-search-group {
  &.is-empty:not(.has-focus) label {
    top: 17px;
  }
  label {
    left: 10px;
    color: fade-out(black, 0.64);
  }
  input {
    text-indent: 10px;
    background-color: #EFEFEF;
  }
}

#image-search-results {
  max-height: calc(100vh - 184px);
  overflow-y: auto;
  overflow-x: hidden;
}

#journal {
  height: 374px;
}

#volumes {
  md-list-item, .md-list-item-text {
    overflow: hidden;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


#searchPane {
  .container {
    height: 100%;
    padding-bottom: 20px;
  }

  .results {

    .image-card {
      height: 180px;
    }
  }
}

#newContainerForm {
  .container {
    max-width: 700px;

    & > section:not(:last-child) {
      margin-bottom: 30px
    }
  }
  .md-subheader {
    font-weight: bold;

    .md-subheader-inner {
      padding-left: 0;
    }
  }

  .list-header {
    md-checkbox {
      margin-right: 10px;

      & + .md-label {
        display: none;
      }
    }
  }
  .table-input-container {
    margin-bottom: 50px;
  }
  .table-input-container > label {
    color: rgba(0, 0, 0, 0.26);
    order: 1;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 3px;
    padding-right: 0;
    z-index: 1;
    padding-bottom: 10px;
    position: relative;
  }
}
