$journal-text-color: white;
$journal-header-bg: #242e32;
$journal-body-bg: #263238;

container-card {
  display: block;


  .panel {
    height: 100px;
  }
  .panel-title {
    @include text-overflow();
  }
  .panel-header {
    height: 100%;
    color: white;
  }
  .panel-body {
    height: 100%;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid $soft-gray;
    width: 100%;
    padding: 5px;
    box-shadow: none;
    a {
      color: #737373;
    }
  }
}

journal {
  display: block;
  color: $journal-text-color;

  journal-heading {
    display: block;
    background-color: $journal-header-bg;
    border-bottom: 1px solid lighten($journal-header-bg, 5%);
    padding: $panel-heading-padding;
  }
  journal-body {
    display: block;
    overflow: auto;
    resize: vertical;
    min-height: 374px;
    background-color: $journal-body-bg;
    padding: $padding-base-vertical $padding-base-horizontal;
  }
  journal-row {
    display: block;
  }
}
