.info
{
  overflow: hidden;

  i.fa {
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 72px;
  }

  .nb {
    font-size: 30px;
    vertical-align: sub;
  }

  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
}

.data-list {
  li {
    padding: 20px 0;
  }
  .value {
    float: right;
    color: #333;
    font-weight: bold;
  }
}

.table td {
  vertical-align: middle;
}
.table img {
  max-height: 40px;

  &[src*=svg] {
    width: 50px;
  }
}
