.info
{
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  i.fa {
    padding: 20px;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
  }

  .nb {
    font-size: 30px;
    vertical-align: sub;
  }

  .right {
    position: absolute;
    left: 65px;
    top: 10px;
    right: 20px;
    text-align: right;
  }
}