// Place all the styles related to the image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row.image-info
{
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid $gray-lighter;

  .thumb {
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 149px;
    background-color: $gray-light;
  }
  .thumb.official {
    background-color: $yellow-3;
  }

  .btn
  {
    font-weight: bold;

    i {
      font-size: 0.8em;
      vertical-align: text-top;
      margin-left: 20px;
    }
  }
}