.image-info.panel
{
  .panel-body {
    height: 150px;
  }

  .thumb {
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
    background-color: $purple;
    position: relative;
    top: -$panel-body-padding;
    left: -$panel-body-padding;
  }
  .thumb.official {
    background-color: $yellow;
  }

  .btn
  {
    font-weight: bold;

    i {
      font-size: 0.8em;
      vertical-align: text-top;
      margin-left: 20px;
    }
  }
}
