header
{
  height: 100px;
  background-color: $blue-light-2;
}
.logo
{
  height: 100px;
}
#menu
{
  background-color: $yellow-4;
    height: 52px;
}
footer
{
  color:#fff;
  background-color: $blue-light-2;
}
