body {
  padding-top: $navbar-height;
}

#topbar {
  border: none;
  background-color: $brand-primary;
  color: white;

  a {
    color: inherit;
  }
  .title {
    font-size: 18px;
    line-height: 18px;
    float: left;
    @include navbar-vertical-align(18px);
  }

  #searchForm {
    display: inline-block;
    padding: 0;
    margin-top: -2px;
    position: relative;
    @include box-shadow(none);

    .fa {
      position: absolute;
      top: ($input-height-base + $input-padding-bottom) / 2;
      left: 0;
    }
    input {
      border: none;
      background-color: inherit;
      padding-left: $navbar-padding-horizontal + 5;
      @include box-shadow(none);

      &:focus {
        border: none;
      }
    }
  }
}

// Left bar for navigation
#main-nav {
  position: fixed;
  padding-top: $navbar-height;
  top: 0;
  left: 0;
  height: 100vh;
  width: $collapsed-left-menu-width;
  background-color: $soft-gray;
  text-align: center;

  .nav > li > a > span {
    display: none;
  }

  .nav > li > a {
    color: $text-secondary;
    font-size: 17px;
  }
}

#page-wrapper {
  padding-left: $collapsed-left-menu-width;

  main {
    padding: 0;
  }
}

#list-content {
  border-right: 1px solid darken($soft-gray, 5%);
  overflow-x: hidden;
}

#list-content + #main-content {
  padding-top: ($grid-gutter-width / 2);
  background: $soft-gray;
  @include box-shadow(0 0 5px rgba(0, 0, 0, .12));
}


.full-screen-height {
  height: calc(100vh - #{$navbar-height});
  overflow: auto;
}

.scrollbar-small::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: fade-out(black, 0.96);
}
.scrollbar-small::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-small::-webkit-scrollbar-thumb {
  background: fade-out(black, 0.7);
}
