body {
  padding-top: $navbar-height;
}

#topbar {
  border: none;
  background-color: $brand-primary;
  color: white;

  a {
    color: inherit;
  }
  .title {
    font-size: 18px;
    line-height: 18px;
    float: left;
    @include navbar-vertical-align(18px);
  }

  #searchForm {
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
    @include navbar-vertical-align(36px);

    .search-container {
      background: rgba(255,255,255,0.16);
      height: 36px;
      line-height: 36px;
      border-radius: 2px;
      @include box-shadow(0 0 0 1px rgba(0,0,0,0.05),0 1px 2px 0 rgba(0,0,0,0.07),0 2px 1px -2px rgba(0,0,0,0.1),0 1px 5px 0 rgba(0,0,0,0.06));
    }

    .fa {
      vertical-align: baseline;
      margin: 0 19px;
    }
    input {
      width: 100%;
      max-width: 512px;
      height: 36px;
      line-height: 36px;
      font-size: 15px;
      border: none;
      background: none;
      padding: 0;
      outline: none;
      margin-right: 16px;

      &::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.24);
      }
      &:-moz-placeholder {
        color: rgba(0, 0, 0, 0.24);
      }
      &::-moz-placeholder {
        color: rgba(0, 0, 0, 0.24);
      }
      &:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.24);
      }
      &:placeholder-shown {
        color: rgba(0, 0, 0, 0.24);
      }
    }

    &.search-hasFocus {
      .fa {
        color: black;
        opacity: 0.54;
      }
      .search-container {
        background-color: #fff;
        color: black;
      }
    }
  }
}

// Left bar for navigation
#main-nav {
  position: fixed;
  padding-top: $navbar-height;
  top: 0;
  left: 0;
  height: 100vh;
  width: $collapsed-left-menu-width;
  background-color: $soft-gray;
  text-align: center;

  .nav > li > a > span {
    display: none;
  }

  .nav > li > a {
    color: $text-secondary;
    font-size: 17px;
  }
}

#page-wrapper {
  padding-left: $collapsed-left-menu-width;

  main {
    padding: 0;
  }
}

#list-content {
  border-right: 1px solid darken($soft-gray, 5%);
  overflow-x: hidden;

  .btn-float {
    bottom: 20px;
    right: 20px;
  }
}

#list-content + #main-content {
  padding-top: ($grid-gutter-width / 2);
  background: $soft-gray;
  @include box-shadow(0 0 5px rgba(0, 0, 0, .12));
}


.full-screen-height {
  height: calc(100vh - #{$navbar-height});
  overflow: auto;
}

.scrollbar-small::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: fade-out(#737373, 0.96);
}
.scrollbar-small::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-small::-webkit-scrollbar-thumb {
  background: #ECECEC;
}

td.text-overflow {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#searchPane > div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  padding-top: $navbar-height;
  background-color: rgba(0, 0, 0, 0.3);

  .container {
    background-color: $soft-gray;
    overflow: auto;
  }
}
