// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-wrapper > .container-fluid {
  height: 100vh;
  max-width: 800px;
  margin: auto;
  display: table;
}

#page-wrapper {
  overflow: hidden;
  padding-left: 0px;
}

#loginForm {
  position: relative;
  display: table-cell;
  vertical-align: middle;

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  @media (min-width: $screen-sm-min) {
    .logo {
      position: absolute;
      top: -45px;
      left: 240px;
      width: 400px;
      height: 391px;
      background-repeat: no-repeat;
      background-image:  image-url("whale.png");
      z-index: 1;
      pointer-events: none;
    }
  }

  .form-errors {
    margin-top: 10px;
  }
}
